
<%= form_for @calculate do |f| %>
  <div class="input">
    <%= f.number_field :a %>
    <%= f.text_field :operator %>
    <%= f.number_field :b %>
  </div>
  <div class="submit">
    <%= f.submit '제출' %>
  </div>
<% end %> 

<% @calculates.each do |f| %>
  <%= f.a %>
  <%= f.operator %>
  <%= f.b %>
  =
  <%= Calculate.calculate(f.a, f.operator, f.b)%>
  <br>
<% end %>